<h1> Listando Obras </h1>

<%= link_to 'Nueva obra', new_obra_path %>
<table>
<tr>
  <th>  Título  </th>
  <th>  Autor   </th>
  <th colspan="3"></th>
</tr>

<% @obras.each do |obra| %> 
  <tr>
    <td><%= obra.titulo %> </td>
    <td><%= obra.autor %> </td>
    <td><%= link_to 'Mostrar', obra_path(obra) %> </td>
    <td><%= link_to 'Edición', edit_obra_path(obra) %> </td>
    <td><%= link_to 'Borrar', obra_path(obra), 
                     method: :delete, 
                     data: {confirm: 'Está Ud.seguro?'} %> </td>
  </tr>
 <% end %>
</table>



